<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Services</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../main.css'>
    <script src='main.js'></script>
    <script src="/components/header.js"></script>
    <script src="/components/footer.js"></script>
</head>
<body>
    <my-header></my-header>
    <section>
        <h1>Services</h1>
        
        <p>
            {intro}
        </p>

        <h3>Phase 1: Audit</h3>
        <p>
            {audit}
        </p>

        <h3>Phase 2: Proposal</h3>
        <p>
            {proposal}
        </p>

        <h3>Phase 3: Development</h3>
        <p>
            {development}
        </p>

        <h3>Phase 4: Deployment</h3>
        <p>
            {deployment}
        </p>

        <p>
            {outro}
        </p>
    </section>
    <my-footer></my-footer>
</body>
</html>