body {
    background-color: black;
    color: lightgreen;
    font-family: monospace;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
}

ul {
    list-style-type: none;
    
}

li:before {
    content: ">";
  }

a {
    color: yellow;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

img {
    border-radius:100%;
}

button {
    border: none;
    padding: 1%;
    background-color: darkslategrey;
    color: white;
}

button:hover {
    color: yellow;
}