body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;

}

header nav ul {
    list-style-type: none;
    padding: 0;

}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

section {
    padding: 20px;

}

button {
    background-color: #e7e7e7;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #ddd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    border-radius: 5px;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.bio img {
    margin-right: 10px;
}